<h3>Tabla de Noticias:</h3>

<button
  mat-raised-button
  color="primary"
  routerLink="/formulario-noticia-component"
  routerLinkActive="active"
>
  Crear Noticia
</button>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table>
  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef>Titulo</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.titulo }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="texto">
    <mat-header-cell *matHeaderCellDef>Texto</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.texto }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fechaDePublicacion">
    <mat-header-cell *matHeaderCellDef>Fecha de Publicacion</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.fechaDePublicacion }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="estado">
    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-slide-toggle>{{ element.estado }}</mat-slide-toggle>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="editar">
    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-mini-fab color="warn" (click)="editar(element)">
        <mat-icon>create</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cambiarEstado">
    <mat-header-cell *matHeaderCellDef>Cambiar Estado</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-mini-fab color="warn" (click)="cambiarEstado(element)">
        <mat-icon>create</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
